<div class="blog-slider">
  <div class="blog-slider__wrp">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img
          src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp"
          alt=""
        />
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Software Security</span>
        <div class="blog-slider__title">GCD By Euclid's Algorithm</div>
        <div class="blog-slider__text">
          <div>
            <label for="number1">Enter the first number:</label>
            <input type="number" id="number1" [(ngModel)]="number1" value="" />
          </div>

          <div>
            <label for="number2">Enter the second number:</label>
            <input type="number" id="number2" [(ngModel)]="number2" />
          </div>
        </div>

        <div class="box2">
          <button class="blog-slider__button" (click)="calculateGCD()">
            Calc GCD
          </button>
          <button class="blog-slider__button" (click)="reset()">Reset</button>
        </div>
        <div class="blog-slider__result" *ngIf="gcdResult != null">
          GCD: <span class="c">{{ gcdResult }}</span>
        </div>
        <div class="blog-slider__error" *ngIf="err_msg">
          {{ err_msg }}
        </div>
      </div>
    </div>
  </div>
</div>
